<h1><%= @cocktail.name %></h1>

<% if @stir_in_entries.any? %>
  <div class="row drink-details">
    <div class="col-md-3">
      <dl class="dl-horizontal ingredient-list">
      <% @stir_in_entries.each do |entry| %>
        <%= entry_generator(entry) %>
      <% end %>
      </dl>
    </div>
    <div class="col-md-4 drink-instructions">
      Combine these ingredients in your favorite glass and stir.
    </div>
  </div>
<% end %>

<% if @garnish_entries.any? %>
  <hr>
  <div class="row drink-details">
    <div class="col-md-3">
      <dl class="dl-horizontal ingredient-list">
        <% @garnish_entries.each do |entry| %>
          <%= garnish_entry_generator(entry) %>
        <% end %>
      </dl>
    </div>
    <div class="col-md-3">
      Garnish with these ingredients and enjoy!
    </div>
  </div>
<% end %>

<hr>

<div class="row">
  <div class="col-sm-4 add-theme-list">
    <h5>Rate it</h5>
    <form class="form-inline" action="/cocktails/<%= @cocktail.id %>/ratings" method="post">
      <select class="form-control" name="score">
        <option value="" disabled selected>Select your rating</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <button type="submit" class="btn btn-sm btn-primary value-btn">Submit</button>
    </form>
  </div>
</div>

<div>
  <%= @rating ? "Average Rating is" : "This drink has not been rated yet" %>
  <%= @rating %>
</div>
