<h1 class="ingredientheader">Pick Your Ingredients</h1>

<div class="row">
  <div class="col-sm-6">
    <form action="<%= @route %>" method="post">
      <div class="form-group">
        <label for="primary">Add a primary liquor:</label>
        <%= options(@primary, Category.find_id_by_name("primary"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="secondary">Add a secondary liquor:</label>
        <%= options(@secondary, Category.find_id_by_name("secondary"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="sweetener">Add a sweetener:</label>
        <%= options(@sweetener, Category.find_id_by_name("sweetener"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="acid">Add an acid:</label>
        <%= options(@acid, Category.find_id_by_name("acid"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="mixer">Add a mixer:</label>
        <%= options(@mixer, Category.find_id_by_name("mixer"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="aromatic">Add an aromatic:</label>
        <%= options(@aromatic, Category.find_id_by_name("aromatic"), "select-auto-submit") %>
      </div>
      <div class="form-group">
        <label for="garnish">Add a garnish:</label>
        <%= options(@garnish, Category.find_id_by_name("garnish"), "select-auto-submit") %>
      </div>
    </form>
  </div>

  <% if @ingredients.any? %>
    <div class="ingredientsdiv">
      <div class="col-sm-6">
        <ul>
          <% @ingredients.each do |ingredient| %>
            <li>
              <form action="/cocktails/<%= @cocktail.id %>/ingredients/<%= ingredient.id %>" method="post">
                <label for="remove"><%= ingredient.name %></label>
                <button class="btn btn-link" type="submit" name="_method" value="delete">remove</button>
              </form>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>


<% if @ingredients.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <button class="btn btn-sm btn-default btn-block generate" type="button"
          data-toggle="collapse" data-target="#name-concoction">
          GENERATE CONCOCTION
        </button>
      </div>

      <div class="collapse" id="name-concoction">
        <form class="well form-group"
          action="/cocktails/<%= @cocktail.id %>" method="post">

          <div class="row">
            <p class="col-md-12">
              Choose the strength and sweetness of your cocktail:
            </p>
            <div class="col-md-6">
              <label for="strength">Weak</label>
              <label for="strength" class="pull-right">Strong</label>
              <input name="strength" type="range" min="-1" max="1" step=".25" />
            </div>

            <div class="col-md-6">
              <label for="sweetness">Tart</label>
              <label for="sweetness" class="pull-right">Sweet</label>
              <input name="sweetness" type="range" min="-1" max="1" step=".25" />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <label for="name">Name your concoction!</label>
              <div class="input-group">
                <input required class="form-control" type="text" name="name" placeholder="Name">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"
                    name="_method" value="patch">Generate
                  </button>
                </span>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
