<h1><%= @name %></h1>

<%= ingredient_entry(@primary, "1 oz") %>
<%= ingredient_entry(@secondary, "1 oz") %>
<%= ingredient_entry(@sweetener, "1 oz") %>
<%= ingredient_entry(@acid, "1 oz") %>
<%= ingredient_entry(@mixer, "1 oz") %>
<%= ingredient_entry(@aromatic, "1 oz") %>
<%= ingredient_entry(@garnish, "1 oz") %>
