<div class="row">
  <!-- Ingredient Name -->
  <h3><%= @ingredient.name %></h3>
  <form action="/ingredients" method="post">
    <div class="row">
      <!-- Ingredient Name -->
      <div class="form-group col-sm-6">
        <label for="ingredient_name">Edit Ingredient Name</label>
        <input type="text" class="form-control" name="ingredient_name" value="<%= @ingredient.name %>">
      </div>
    </div>

    <!-- Submit Button -->
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>
  </form>


<div class="row">
  <!-- Category List -->
  <div class="col-sm-6 ingredient-category-list">
    <% if @ingredient_categories.any? %>
      <h5>Categories:</h5>
      <ul class="nav nav-pills nav-stacked">
        <% @ingredient_categories.each do |category| %>
          <form action="/ingredients/<%= @ingredient.id %>/categories" method="post">
            <input hidden name="category_id" value="<%= category.id %>">
            <label for="_method"><%= category.name %></label>
            <button type="submit" class="btn btn-link" name="_method" value="delete">(remove)</button>
          </form>
        <% end %>
      </ul>
    <% else %>
      <h5>No categories currently added.</h5>
    <% end %>
  </div>


  <!-- Add Category List -->
  <div class="col-sm-6 add-category-list">
    <% if @add_categories.any? %>
    <h5>Click to add categories to this ingredient:</h5>
      <ul class="nav nav-pills">
        <% @add_categories.each do |category| %>
          <li>
            <form action="/ingredients/<%= @ingredient.id %>/categories" method="post">
              <input hidden name="category_id" value="<%= category.id %>">
              <button type="submit" class="btn btn-sm btn-default"><%= category.name %></button>
            </form>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h5>No categories to add.</h5>
      <h5>Go to <a href="/admin">Admin Page</a> to add more categories.</h5>
    <% end %>
  </div>
</div>
